{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mb-4">
    <h3 class="row mb-4">
      <a href="{% url 'passwords' %}" title="Inicio" class="text-decoration-none text-dark"><i class="bi bi-arrow-90deg-left text-primary mr-2"></i></a>
      Crear una nueva contraseña
    </h3>

    <div class="container row">
      {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endif %}
      <div class="col-md-6 col-12">
        <form action="/password/create/" method="POST" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="form-group">{{ form.as_p }}</div>
          <div class="d-flex justify-content-end">
            <a href="{% url 'passwords' %}" type="button" class="btn btn-link">Cancelar</a>
            <button type="submit" class="btn btn-primary ml-2"><i class="bi bi-floppy2-fill"></i> Guardar</button>
          </div>
        </form>
      </div>
      <div class="container-fluid alert-primary col-md-6 col-12 bg-secondary text-white">
        <p class="my-2 d-flex">
          <i class="bi bi-lightbulb mr-2"></i><strong>¿Necesitas ayuda?</strong>
        </p>
        <div class="container px-6">
          <div class="mt-2 d-flex justify-content-between">
            <button type="button" class="btn btn-warning" onclick="showSuggestion()" title="Generar una contraseña"><i class="bi bi-lightning-fill"></i> Generar</button>
            <button type="button" class="btn btn-outline-secondary copy-button" onclick="copyToClipboard()" title="Copiar y usar la contraseña"><i class="bi bi-clipboard"></i></button>
          </div>
          <div class="container form-control">
            <p class="text-left" id="generate_password"></p>
          </div>
        </div>
        <p class="p-3 mt-1 mb-0 pb-0">Recuerda que una contraseña segura es aquella que no es fácil de adivinar.</p>
        <p class="p-3 mt-1">Se recomienda usar una combinación de letras mayúsculas y minúsculas, números y caracteres especiales.</p>
      </div>
    </div>
  </div>
  <script>
    function showSuggestion() {
      const minLength = 12
      const maxLength = 18
      const length = Math.floor(Math.random() * (maxLength - minLength + 1)) + minLength
      const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+[]{}|;:',.<>?"
      let random_pass = ''
    
      for (let i = 0; i < length; i++) {
        const randomIndex = Math.floor(Math.random() * charset.length)
        random_pass += charset[randomIndex]
      }
    
      document.getElementById('generate_password').innerHTML = random_pass
    }
    function copyToClipboard() {
      const el = document.createElement('textarea')
      el.value = document.getElementById('generate_password').innerHTML
      document.body.appendChild(el)
      el.select()
      document.execCommand('copy')
      document.body.removeChild(el)
      document.getElementById('id_password').value = el.value
    }
    const shared = document.getElementById('id_shared')
    const sharedWith = document.getElementById('id_sharedWith')
    const sharedWithLabel = document.querySelector('form > div > p:nth-child(6)')
    if (shared.checked) {
      sharedWithLabel.style.display = 'block'
      sharedWith.style.display = 'flex'
    } else {
      sharedWithLabel.style.display = 'none'
      sharedWith.style.display = 'none'
    }
    shared.addEventListener('change', () => {
      if (shared.checked) {
        sharedWithLabel.style.display = 'block'
        sharedWith.style.display = 'flex'
      } else {
        sharedWithLabel.style.display = 'none'
        sharedWith.style.display = 'none'
      }
    })
  </script>
{% endblock %}
