{% extends 'base.html' %}
{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h3>Confirmar Eliminación</h3>
      </div>
      <div class="card-body">
        <p>
          ¿Estás seguro de que deseas eliminar la contraseña <strong>"{{ password.name }}"</strong> de la lista?
        </p>
        <p>Esta acción no se puede deshacer sin la asistencia del administrador.</p>
        <hr />
        {% if password.sharedWith.all %}
          <p class="text-muted">Esta acción afectará a los siguientes usuarios que tienen acceso a esta contraseña:</p>
          <ul>
            {% for user in password.sharedWith.all %}
              <li class="listNamesShared mx-3">{{ user }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="text-muted">Esta contraseña no está compartida con otros usuarios.</p>
        {% endif %}
        <form method="post" action="{% url 'password_delete' password.id %}">
          {% csrf_token %}
          <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-danger me-2">Eliminar</button>
            <a href="{% url 'passwords' %}" class="btn btn-link">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
