{% extends 'base.html' %} {% load static %} {% block content %}
  <link rel="stylesheet" href="{% static 'assets/styles/password_edit.css' %}" />
  <div class="container mb-4">
    <h3>
      <a href="{% url 'passwords' %}" title="Inicio" class="text-decoration-none text-dark"><i class="bi bi-arrow-90deg-left text-primary mr-2"></i></a>
      Editar contraseña
    </h3>
    <div class="card">
      <div class="card-header">
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          <div class="container d-flex flex-row-reverse">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a href="{% url 'passwords' %}" type="button" class="btn btn-link">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
