{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mb-4">
  <h3>
  <a
    href="{% url 'passwords' %}"
    title="Inicio"
    class="text-decoration-none text-dark"
  >
    <i class="bi bi-arrow-90deg-left text-primary mr-2"></i> 
  </a>
  Detalle de la contraseña</h3>
  <div class="card">
  <div class="card-header d-flex justify-content-between">
    <span>
    {{ password.name }}
    </span>
    <span>
    {% if password.shared %}
      <i class="bi bi-people-fill icon-shared text-success" title="Compartido"></i>
    {% else %}
      <i class="bi bi-person-slash icon-not-shared text-danger" title="No compartido"></i>
    {% endif %}
    </span>
  </div>
  <div class="card-body">
    <p class="card-text">
    <p class="text-muted">
      <strong>Detalles de la contraseña:</strong>
      </p>
      <strong>Propietario:</strong> 
      {% if password.user == request.user %}
        TÚ
      {% else %}
        {{ password.user }}
      {% endif %}
      <br />
    <strong>Contraseña:</strong>
    <span id="password-{{ password.id }}">{{ password.password }}</span
    ><br />
    <strong>URL:</strong> <a href="{{ password.url }}" target="_blank">{{password.url}}</a><br />
    <hr>
    <p class="text-muted">
      <strong>Detalles de compartición:</strong>
    </p>
    <strong>Esta contraseña:</strong> {% if password.shared %}
    <i class="bi bi-people-fill icon-shared" title="Compartido"></i> Está compartida
    {% else %}
    <i class="bi bi-person-slash icon-not-shared" title="No compartido"></i> No está compartida
    {% endif %}
    {% if password.shared %}
    <br>
    <strong>Compartido con:</strong>
    <div class="container px-3 my-0">
    <ul class="list-group d-flex flex-row listNamesShared">
      {% for user in password.sharedWith.all %}
      <li class="pa-0 mx-2">{{ user.username }}</li>
      {% endfor %}
    </ul>
    </div>
    {% endif %}
    <hr>
    <p class="text-muted">
      <strong>Detalles adicionales:</strong>
    </p>
    <strong>Fecha guardada:</strong> {{ password.dateSaved }}<br />
    </p>
  </div>
  </div>
  <div class="d-flex justify-content-end">
  {% if password.user == request.user %}
    <a href="{% url 'password_edit' password.id %}" class="btn btn-secondary mx-2 mt-2">Editar</a>
  {% endif %}
  <a href="{% url 'passwords' %}" class="btn btn-primary mt-2">Volver</a>
  </div>
</div>
{% endblock %}
