body > div > div > div > form > p:nth-child(6) {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

body > div > div > div > form > p:nth-child(6) input[type="checkbox"] {
  width: 1em;
  height: 1.2em;
  margin-right: 0.5em;
  transform: scale(0.8);
}

label[for="id_shared"] {
  margin: 0;
  padding: 0;
}
